


<!-- <footer style="background-color:white !important;color:#364269 !important;border-top: 2px solid #EBEEF6;padding:10px;" id="footer" class="footer">
 
        <a style="color:#364269 !important;text-decoration:none;" href="{% url 'index' %}">
     <span style="font-size: 22px;padding:23px;margin-right:59rem;font-weight:bold;width:10px;" class="footertext">Lambada</span>
        </a>
      </footer> -->

  
  <footer style="background-color:white !important;color:#364269 !important;" id="footer" class="footer">
 
        <a style="color:#364269 !important;text-decoration:none;" href="{% url 'index' %}">
     <span style="font-size: 22px;padding:23px;margin-right:59rem;font-weight:bold;width:10px;" id="footertexttwo" class="footertext">Lambada</span>
        </a>
      </footer>
