  <!-- Navbar -->
  <nav id="navlisting" style="background-color: transparent !important;color: green !important;"class="navbar navbar-expand-lg bg-primary sticky-top">
        <!-- <div class="container" id="sospecial">
          <a class="navbar-brand" href="index.html">
            <img src="assets/img/logo.png" class="logo" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div  class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
              <li
               {% if request.path == '/'%}
               class="nav-item active mr-3"
               {% else %}
               class="nav-item mr-3"
               {% endif %}    
               > -->
                   <!-- <div id="navbarred"> -->
                <a id="navbared" style="font-size:22px;padding:23px;font-weight:bold;margin-right:61px;font-family:sans-serif;color:#364269;" class="nav-link" href="{% url 'index' %}">Lambada</a>
                  <!-- </div> -->
              <!-- </li> -->
              <!-- <input type="text"> -->


             <form id="form1" action="{% url 'search' %}" >
                  <!-- {% csrf_token %} -->
                  {% if user.is_authenticated %}
                  <input type="hidden" name="user_id" value="{{user.id}}">
                  {% else %}
                       <input type="hidden" name="user_id" value="0">
                      {% endif %}
              <!-- <div class="col-md-4 mb-0"> -->
                  <label class="sr-only">City</label>
                  <div>
                    
                  <input id="autocomplete" style="border-radius: 22px; width: 740px;height:50px;margin-top:1.8rem;" type="text" name="city" 
                  class="form-control" placeholder="Enter a city, state, neighborhood or county" minlength="2" required> <span style="margin-top:1.1rem;" id="indexlocationtext"><strong>Location</strong></span>
                  <button class="sbt" type="submit" form="form1">
                   <i id="mglassindex" class="fas fa-lg fa-search"></i>
                 </button>
                  <!-- <button class="btn btn-secondary btn-sm mt-4" type="submit">Sub form</button> -->
                  </div>
                <!-- </div> -->
               
              </form>
              
              <!-- <li 
              {% if request.path == '/about' %}
               class="nav-item active mr-3"
               {% else %}
               class="nav-item mr-3"
               {% endif %} 
              >
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li
              {% if 'listings' in request.path %}
               class="nav-item active mr-3"
               {% else %}
               class="nav-item mr-3"
               {% endif %} 
               class="nav-item mr-3">
                <a class="nav-link" href="{% url 'listings' %}">Featured Listings</a>         

              </li> -->
            </ul>
    
           <ul style="color: black;" class="navbar-nav ml-auto">

            {% if user.is_authenticated %}
              
                <li class="nav-item mr-3">
                <a class="nav-link" href="{% url 'dashboard' %}">
                  <!-- <i class="fas fa-sign-in-alt"></i> -->
                 <!-- &nbsp;  Welcome {{ user.username }} -->
                 <div class="dropdown">
                &nbsp;  <button style="margin-bottom: .5rem;margin-left:-16rem;" class="btn-nav dropbtn">  {{ user.username |title |slice:"0:8" }}     </button>
                  </a>
                  <br><br>
            <div class="dropdown-content">
              <a href="{% url 'index' %}">Account Settings</a>
              <a href="{% url 'dashboard' %}">Saved Items</a>
              
  </div>
                </div>
              </li>
              <li class="nav-item mr-3">
                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
             
                <button style="margin-left:-9rem;" class="btn-nav  dropbtno">
                  
                  Sign Out</button>
                     </a>
              </li>
              <form id="logout" action="{% url 'logout' %}" method=POST>
              {% csrf_token %}
              <input type="hidden">
              </form>
            {% else %}

             <li style="margin-left:3rem;" class="nav-item mr-4">
                <a class="nav-link" href="{% url 'login' %}">
                  <!-- <i class="fas fa-sign-in-alt"></i> -->
                  <button id="indexbuttont" onmouseover="myFunction()" class="btn-nav indexbuttont">  Sign in</button>
                  </a>
              </li>
              <li style="margin-left:-2rem;" class="nav-item mr-4">
                  <a class="nav-link" href="{% url 'register' %}">
                    <!-- <i class="fas fa-search"></i> -->
                    <button id="indexbutton" onmouseover="myFunctiont()" class="btn-nav indexbutton"> Sign up</button>
                    </a>
                </li>
           
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>


<!-- <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script> -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script> -->
       <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbqO1MJZ55ohsVhEGj-v8-RAUJj-HwGuc&libraries=places&callback=initAutocomplete"></script> -->
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbqO1MJZ55ohsVhEGj-v8-RAUJj-HwGuc&libraries=places&callback=initAutocomplete"></script>

<script>


  function myFunction() {

    var x = document.getElementById("indexbutton");
    var y = document.getElementById("indexbuttont");
         
        y.classList.remove("indexbuttont");
        y.classList.add("indexbutton");
        x.classList.remove("indexbutton");
        x.classList.add("indexbuttont");
  
        
      
  
  }

  function myFunctiont() {

    var x = document.getElementById("indexbutton");
    var y = document.getElementById("indexbuttont");
         
    y.classList.add("indexbuttont");
    y.classList.remove("indexbutton");
        x.classList.add("indexbutton");
        x.classList.remove("indexbuttont");
  
        
      
  
  }

  function initAutocomplete() {
	
    autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});
   
    

  var pac_input = document.getElementById('autocomplete');

      (function pacSelectFirst(input) {
        // store the original event binding function
        var _addEventListener = (input.addEventListener) ? input.addEventListener : input.attachEvent;

        function addEventListenerWrapper(type, listener) {
            // Simulate a 'down arrow' keypress on hitting 'return' when no pac suggestion is selected,
            // and then trigger the original listener.
            if (type == "keydown") {
                var orig_listener = listener;
                listener = function(event) {
                    var suggestion_selected = $(".pac-item-selected").length > 0;
                    if (event.which == 13 && !suggestion_selected) {
                        var simulated_downarrow = $.Event("keydown", {
                            keyCode: 40,
                            which: 40
                        });
                        orig_listener.apply(input, [simulated_downarrow]);
                    }

                    orig_listener.apply(input, [event]);
                };
            }

            _addEventListener.apply(input, [type, listener]);
        }

        input.addEventListener = addEventListenerWrapper;
        input.attachEvent = addEventListenerWrapper;

        var autocomplete = new google.maps.places.Autocomplete(input);

    })(pac_input);
  }

 </script>
       <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbqO1MJZ55ohsVhEGj-v8-RAUJj-HwGuc&libraries=places&callback=initAutocomplete"></script>
   
       <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbqO1MJZ55ohsVhEGj-v8-RAUJj-HwGuc&callback=initialize">
</script>
 -->


