

        <!-- <div class="sortdropdown">
                <button  class="sortbtn sortdropbtn">Sort by <strong>Amount</strong></button>
        <div class="sortdropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> -->
<!-- 
    <div class="sortdropdown"> -->
        <p id="sorttog" onclick="toggleSort()"  class="sortbtn ">Sort by <i id="arrowdirection" class="fas fa-angle-down"></i>  </p>
       


       
          
         <div id="boxl" class="box">
             <div class="boxcontent">
                 <form id="atozsort" action="{% url 'search' %}"  method="POST" >
                        {% csrf_token %}
           <button class="linktext atoz" id="s" type="submit" name=oopz id="p">Program: A-Z</button> </a> <br> 
            <button class="linktext" id="s" type="submit" name=ztoa id="p">Program: Z-A</button>   <br> 
            <button class="linktext" id="s" type="submit" name=lowtohigh id="p">Amount: Low to High</button>  <br> 
            <button class="linktext" id="s" type="submit" name=typeofprogram id="p">By Type of Program</button>  <br> 
            <button class="linktext" id="s" type="submit" name=mortagelender id="p">By Mortage Lender</button>  

             <!-- <input type="submit" class="linktext programatoz"> Program: A-Z</p> <br> -->
             <!-- <input form="atozsort" type="hidden" name="oops" hidden="hidden"> -->
            </form>
            <!-- <button id="s" type="submit" name=oopz id="p">testget</button> -->
             <!-- <a form="atozsort" href="javascript:{}" onclick="document.getElementById('s').submit(); return false;" class="linktext programatoz" href="#"> Program: A-Z</a> <br>  -->
             <!-- <a class="linktext" href="#"> Program: Z-A</a> <br> 
             <a class="linktext" href="#"> Amount: Low to High</a> <br>
             <a class="linktext" href="#">By Type of Program</a> <br>
             <a class="linktext" href="#">By Mortage Lender</a> <br> -->
            </div>
            </div>


            <div id="box2" class="box2">
                    <div class="boxcontent">
                        <form id="filterform" action="{% url 'search' %}" method="POST" >
                               {% csrf_token %}
                  <button class="linktext" id="s" type="submit" name=oopz id="p">Type Of Program</button> </a> <br>
                  <input type="hidden" id="ptype"  name="downpayment" value="Downpayment">
                  <button onclick="highlight(this)" type="button" class="filtbtn">Down Payment</button>     <button onclick="highlight(this)" type="button" class="filtbtn">Closing Cost</button>    <button onclick="highlight(this)" type="button" class="filtbtn">Forgivable Second</button>  <br>  <br>
                   <!-- <button class="filtbtn">Others</button> <br> -->

                        <!-- price range -->
                   <button class="linktext" id="s" type="button" name=ztoa id="p">Price Limitation</button>   <br><br> 
                   <input id="priceMin" type="hidden" name="pricemin" value="0">
                   <input   id="priceMax" type="hidden" name="pricemax" value="0">
 &nbsp; &nbsp; &nbsp; &nbsp;  <input type="text" id="min" name="min" placeholder="Min" class="rangeinput myInputPrice" value="" required>  -   <input type="text" id="max" name="max" placeholder="Max"  class="rangeinput myInputPrice" required> <br>
                    
                            <!-- veteran -->
                  <button class="linktext" id="s" type="button" name=lowtohigh id="p">Veteran</button>  <br> 
                  <input id="veteran" type="hidden" name="veteran" value="Yes">
                   <button type="button" id="isveteran" class="yesnobtn">Yes</button>     <button type="button" id="isntveteran" class="yesnobtn">No</button> <br> <br>
                     
                   <!-- homebuyer -->
                   <button class="linktext" id="s" type="button"  id="p">First Time Home Buyer</button><br>
                   <input id="firsttime" name="firstbuyer" type="hidden" name="firsttimebuyer" value="Yes">
                   <button type="button" id="ishomebuyer" class="yesnobtn">Yes</button>     <button type="button" id="isnthomebuyer" class="yesnobtn">No</button> <br>  <br> 

                   <button form="filterform"  class="applybtn" id="applybtn" type="submit" name=filterformbutton >Apply</button>  
                   <button type="button" onclick="closebox()" class="linktext" id="cancelbtn" type="submit"  >Cancel</button>  

                   <!-- <button class="linktext" id="s" type="submit" name=mortagelender id="p">By Mortage Lender</button>   -->
                </form>
       
                    <!-- <input type="submit" class="linktext programatoz"> Program: A-Z</p> <br> -->
                    <!-- <input form="atozsort" type="hidden" name="oops" hidden="hidden"> -->
                   <!-- <button id="s" type="submit" name=oopz id="p">testget</button> -->
                    <!-- <a form="atozsort" href="javascript:{}" onclick="document.getElementById('s').submit(); return false;" class="linktext programatoz" href="#"> Program: A-Z</a> <br>  -->
                    <!-- <a class="linktext" href="#"> Program: Z-A</a> <br> 
                    <a class="linktext" href="#"> Amount: Low to High</a> <br>
                    <a class="linktext" href="#">By Type of Program</a> <br>
                    <a class="linktext" href="#">By Mortage Lender</a> <br> -->
                   </div>
                   </div>

    
   <script>

        

       function toggleSort() {
       
           var x = document.getElementById("boxl");
           var y = document.getElementById("arrowdirection");
          

           if (x.style.display === "block") {
             x.style.display = "none";
             y.classList.add("fa-angle-down")
             y.classList.remove("fa-angle-up")
           } else {
             x.style.display = "block";
             y.classList.remove("fa-angle-down")
             y.classList.add("fa-angle-up")

           }
        
       }


       function toggleSortt() {
       
        var x = document.getElementById("box2");
        var y = document.getElementById("arrowdirection2");
       

        if (x.style.display === "block") {
          x.style.display = "none";
          y.classList.add("fa-angle-down")
          y.classList.remove("fa-angle-up")
        } else {
          x.style.display = "block";
          y.classList.remove("fa-angle-down")
          y.classList.add("fa-angle-up")

        }
     
    }

    function closebox() {
      x =   document.getElementById("box2");
      x.style.display = "none";
    }

document.getElementById("isveteran").addEventListener("click", function() {
    document.getElementById('veteran').value="Yes";
    document.getElementById('isveteran').style.border=".5px solid black";
    document.getElementById('isntveteran').style.border="2px solid #EBEEF6";
    
    });

    document.getElementById("isntveteran").addEventListener("click", function() {
    document.getElementById('veteran').value="No";
    document.getElementById('isntveteran').style.border=".5px solid black";
    document.getElementById('isveteran').style.border="2px solid #EBEEF6";
    
    });

    document.getElementById("ishomebuyer").addEventListener("click", function() {
        document.getElementById('firsttime').value="Yes";
    document.getElementById('ishomebuyer').style.border=".5px solid black";
    document.getElementById('isnthomebuyer').style.border="2px solid #EBEEF6";
    
    });

    document.getElementById("isnthomebuyer").addEventListener("click", function() {
        document.getElementById('firsttime').value="No";
    document.getElementById('isnthomebuyer').style.border=".5px solid black";
    document.getElementById('ishomebuyer').style.border="2px solid #EBEEF6";
    
    });

    var priceminimum = document.getElementById('min').value
    document.getElementById('priceMin').value=priceminimum;










    var buttonClicked = null;


    function highlight(element) {
        if (buttonClicked != null) {
           // buttonClicked.style.background = "grey";
            buttonClicked.style.border="2px solid #EBEEF6";
        }
        buttonClicked = element;
        document.getElementById('ptype').value=element.innerHTML;
        //buttonClicked.style.background = "red";
        buttonClicked.style.border=".5px solid black";
    }


    var pricebuttonClicked = null;

    function pricehighlight(element) {
        if (pricebuttonClicked != null) {
           // buttonClicked.style.background = "grey";
            pricebuttonClicked.style.border="2px solid #EBEEF6";
        }
        pricebuttonClicked = element;
        document.getElementById('priceMax').value="90000";
        //buttonClicked.style.background = "red";
        buttonClicked.style.border=".5px solid black";
    }
    
   </script>