  {% extends 'basethree.html' %}

{% load humanize %}

{% block title %} | Saved {% endblock %}

{% block content %}

<br>
<p id="saveditems">My saved items</p> <br>

<p id="savedheader" onclick="myFunction()">Saved Program</p> &nbsp;  &nbsp;
<p id="savedheadert" onclick="myFunctiont()">Saved Search</p>

            {% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <h2>Welcome {{user.first_name}}</h2> -->

          {% if contacts %}

<!-- 
          <p>Here are the programs that you have inquired about</p> -->
            <table class="table">
               <thead>
              <tr>
                <th scope="col">Program id No.</th>
                <th scope="col">Program Name</th>
                <th></th>
              </tr>
            </thead>
              <tbody>
          {% for contact in contacts %}
              <tr>
                <td>{{contact.id}}</td>
                <td>{{ contact.listing}}</td>
           {% for listing in listings %}
             {% if contact.listing_id == listing.id %}
                <td>{{ listing.amountofassistance}}</td>
                <td>{{ listing.programtype}}</td>
                <td>{{ listing.participatinglenders}}</td>
                {% endif %}
                 {% endfor %}
               
                <td>
                  <a class="btn btn-light" href="{% url 'listing' contact.listing_id %}">View Listing</a>
                </td>
              </tr>
                <tr>
                 {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p> You havent made any inquiries</p>
             {% endif %}
        </div>
      </div>
    </div>
  </section> 




   <section id="dashboardt" class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
  
            {% if searches %}
  
  
            <!-- <p>Here are your saved searches</p> -->
                <table id="table" class="">
                 <thead>
                <tr>
            
                  <th scope="col"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time</th>
                  <th scope="col">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search phrase</th>
                  <th scope="col">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Results</th>
                  <th>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delete</th>
                  <th>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Revisit</th>
                </tr>
              </thead>
              
             <br>
              {{count}}
                <tbody>
                  <br>
            {% for search in searches %}
            {% if search.user_id == user.id %}
                <tr id="fable" class="">
                  <td>{{search.time_visited}}</td>
                  <td> "{{ search.phrase}}"</td>
                  <td> {{search.length}} programs</td>
                  <td> <form action="{% url 'search_query_delete' search.id %}" method="post">
                      {% csrf_token %}
                      <input id="tablebtn" type="submit" value="Delete">
                  </form>
                </td>
                  <td>
                    <a id="tablebtn" class="btn btn-light" href="{{search.link_visited }}">Revisit</a>
                  </td>
                  {% endif %}
                </tr>
                  <!-- <tr> -->
                   {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p> You havent made any inquiries</p>
               {% endif %}
              </div>
        </div>
      </div>
    
    </section> 



    <!-- <div id="box">
    <p id="test">Time Visited<br>
 {% for search in searches %}
            {% if search.user_id == user.id %}
      <span id = "yoyo">{{search.time_visited}}</span>
    </p>
                      {% endif %}
          {% endfor %}
                  <p id="test" scope="col">Search phrase <br>
                      <span id = "yoyo">Yo</span>                
                  </p>
                   
                  <p id="test" scope="col">Results<br>
                   <span id = "yoyo">Yo</span>
                  </p>
                  <p id="test">Delete<br>
                   <span id = "yoyo">Yo</span>
                    </p>

                  <p id="test">Revisit<br>
                  <span id = "yoyo">Yo</span>
                  </p>
</div> -->


   <!-- <section id="dashboardt" class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
  
            {% if searches %}
  
  
             <p>Here are your saved searches</p> -->
              <!-- <table class="table">
                 <thead>
                <tr>
                  <th scope="col">Time Visited</th>
                  <th scope="col">Search phrase</th>
                  <th scope="col">Results</th>
                  <th></th>
                </tr>
              </thead>
              {{count}}
                <tbody>
            {% for search in searches %}
            {% if search.user_id == user.id %}
                <tr>
                  <td>{{search.time_visited}}</td>
                  <td> "{{ search.phrase}}"</td>
                  <td> {{search.length}}</td>
                  <td> <form action="{% url 'search_query_delete' search.id %}" method="post">
                      {% csrf_token %}
                      <input type="submit" value="Delete search query">
                  </form>
                </td>
                  <td>
                    <a class="btn btn-light" href="{{search.link_visited }}">Revisit Search</a>
                  </td>
                  {% endif %}
                </tr>
                  <tr>
                   {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p> You havent made any inquiries</p>
               {% endif %}
              </div>
        </div>
      </div>
    
    </section>  -->


<script type="text/javascript">
function myFunction() {
  var x = document.getElementById("dashboardt");
  var y = document.getElementById("dashboard");
  var a = document.getElementById("savedheader");
  var b = document.getElementById("savedheadert");
      y.style.display = "block";
      x.style.display = "none";
    

}
function myFunctiont() {
  var x = document.getElementById("dashboardt");
  var y = document.getElementById("dashboard");
  var a = document.getElementById("saveheader");
  var b = document.getElementById("saveheadert");

      y.style.display = "none";
      x.style.display = "block";
      a.style.color = "green"
      
}

   $(document).ready(function () {
            $('tr').each(function () {
                $(this).find('tr').each(function () {
                    if ($(this).text().trim() == "") {
                        $(this).closest("tr").remove();
                    };
                });
            });
        });
        var td = $(this).find('tr:empty');
if ( tr.length > 0 ) $(this).remove();
</script>


  {% endblock %}











  