  {% extends 'base.html' %}

{% load humanize %}

{% block title %} | Saved {% endblock %}

{% block content %}

<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <p id="saveditems">My saved items</p> <br><br>

&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <p class="savedheader" id="savedheader" onclick="myFunction()">Saved Program</p> &nbsp; &nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <p class="savedheadert" id="savedheadert" onclick="myFunctiont()">Saved Search</p>

            {% include 'partials/_alerts.html' %}

  <!-- <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          {% if contacts %}
          {% for contact in contacts %}
                <td>{{contact.id}}</td>
           {% for listing in listings %}
             {% if contact.listing_id == listing.id %}





                 <td>{{ listing.programname}}</td>
                <td>{{ listing.amountofassistance}}</td>
                <td>{{ listing.programtype}}</td>
                <td>{{ listing.participatinglenders}}</td> -->
                <!-- {% endif %}
                 {% endfor %}          
                 {% endfor %}          
            {% else %}
            <p> You havent made any inquiries</p>
             {% endif %}
        </div>
      </div>
    </div>
  </section>  --> 

<div id = "dashboard">
 <section id="listings" class="py-4 mb-4">
        <div class="container">
          <div class="row">
           {% if contacts %}
             {% for contact in contacts %}
              {% for listing in listings %}
           {% if contact.listing_id == listing.id %}
                <!-- Listing 1 -->
            <div id="allowlocationbody" class="col-md-6 col-lg-4 mb-4" style="">
                <div class="card listing-preview">
                  <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                  <div class="card-img-overlay rounded">
                    <h2>
                    </h2>
                  </div>
              <a  href="{% url 'listing' listing.id %}" class="stretched-link"> 
                  <div class="card-body">
                   <i class="far fa-lg fa-bookmark"></i>
                    <div class=" text-left">
                      <h5 class=""> &nbsp;&nbsp;&nbsp;   {{ listing.programname |truncatewords:4 |truncatechars:34 }}</h4>
                          <p>
                        <!-- <i class="fas fa-map-marker text-secondary"></i>{{ listing.city }} {{ listing.state }} {{ listing.zipcode }}</p> -->
                    </div>
                    <div class="row py-0 text-secondary">
                      <div class="col-12 text-left">
                          <h6>  &nbsp;&nbsp;&nbsp; Type of program</h6>
                             <p>  &nbsp;&nbsp;&nbsp; {{listing.programoriginator |truncatewords:4 }}</p> </div>
                      <div class="col-6">
                        <h6 class="text-left"> &nbsp;&nbsp;&nbsp; Amount</h6>
                             <p class="text-left">  &nbsp;&nbsp;&nbsp; {{listing.amountofassistance | intcomma}}</p></div>
                    </div>
                    <div class="row py-0 text-secondary">
                      <!-- <div class="col-6"> -->
                          <div class="col-6">
                             <h6 class="text-left">  &nbsp;&nbsp;&nbsp; Mortgage Lenders</h6>
                            <p class="text-left" >  &nbsp;&nbsp;&nbsp; {{listing.programcontact}} </p></div> 
                             </div>
                  <div class="row text-secondary pb-2">
                          <div class="col-6">
                            </div>
                        </div>

                      </a>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% endfor %}
           {% else %}
            <div class="col-md-12">
              <p>No listings available</p>
              </div>

           {% endif %}
          </div>
    
          <div class="row">
            <div class="col-md-12">
              {% if contacts.has_other_pages %}
              <ul class="pagination">
                  {% if contacts.has_previous %}
                  <li class="page-item"> <a href="?page={{contacts.previous_page_number}}" class="page-link">&laquo;
                  </a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                  </li>
                {% endif %}
                {% for i in contacts.paginator.page_range %}
                {% if contacts.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                      <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
                {% endfor %}
                {% if contacts.has_next %}
                <li class="page-item"> <a href="?page={{contacts.next_page_number}}" class="page-link">&raquo;
                </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                      <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
</div>







   <section id="dashboardt" class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
  
            {% if searches %}
  
  
            <!-- <p>Here are your saved searches</p> -->
                <table id="table" class="">
                 <thead>
                <tr>
            
                  <th scope="col"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time</th>
                  <th scope="col">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search phrase</th>
                  <th scope="col">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Results</th>
                  <th>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delete</th>
                  <th>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Revisit</th>
                </tr>
              </thead>
              
             <br>
              {{count}}
                <tbody>
                  <br>
            {% for search in searches %}
            {% if search.user_id == user.id %}
                <tr id="fable" class="">
                  <td>{{search.time_visited}}</td>
                  <td> "{{ search.phrase}}"</td>
                  <td> {{search.length}} programs</td>
                  <td> <form action="{% url 'search_query_delete' search.id %}" method="post">
                      {% csrf_token %}
                      <input id="tablebtn" type="submit" value="Delete">
                  </form>
                </td>
                  <td>
                    <a id="tablebtn" class="btn btn-light" href="{{search.link_visited }}">Revisit</a>
                  </td>
                  {% endif %}
                </tr>
                   {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p> You havent made any inquiries</p>
               {% endif %}
              </div>

 <div class="row">
            <div class="col-md-12">
              {% if searches.has_other_pages %}
              <ul class="pagination">
                  {% if searches.has_previous %}
                  <li class="page-item"> <a href="?page={{searches.previous_page_number}}" class="page-link">&laquo;
                  </a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                  </li>
                {% endif %}
                {% for i in searches.paginator.page_range %}
                {% if searches.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                      <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
                {% endfor %}
                {% if searches.has_next %}
                <li class="page-item"> <a href="?page={{searches.next_page_number}}" class="page-link">&raquo;
                </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                      <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>






        </div>
      </div>
    
    </section> 



    


<script type="text/javascript">

function myFunction() {
  var x = document.getElementById("dashboardt");
  var y = document.getElementById("dashboard");
  
  var a = document.getElementById("savedheader");
  var b = document.getElementById("savedheadert");
      y.style.display = "block";
      x.style.display = "none";
      a.classList.remove("savedheadert");
      a.classList.add("savedheader");
      b.classList.remove("savedheader");
      b.classList.add("savedheadert");

      
    

}
function myFunctiont() {
  var x = document.getElementById("dashboardt");
  var y = document.getElementById("dashboard");
 
  var a = document.getElementById("savedheader");
  var b = document.getElementById("savedheadert");


      y.style.display = "none";
      x.style.display = "block";
      b.classList.remove("savedheadert");
      b.classList.add("savedheader");
      a.classList.remove("savedheader");
      a.classList.add("savedheadert");
      




      
}

function myFunctionc() {


 
}
   $(document).ready(function () {
            $('tr').each(function () {
                $(this).find('tr').each(function () {
                    if ($(this).text().trim() == "") {
                        $(this).closest("tr").remove();
                    };
                });
            });
        });
        var td = $(this).find('tr:empty');
if ( tr.length > 0 ) $(this).remove();


$(".saveheadert").on("click", function() {
    $(this).css("backgroundColor", "red");
}); 

</script>


  {% endblock %}