{% extends 'basethree.html' %}

{% load socialaccount %}

{% providers_media_js %}

{% block title %} | Register account {% endblock %}

{% block content %}

<div id="registerbody"> 
        
            {% include 'partials/_alerts.html' %}

 

<div id="loginbody">
<br>
 <h3 id="signinheader">Edit Your account, {{profile | title}}</h3>
 <br>

<!-- <h6 style="color:#465175;">Sign in with Google or Facebook account </h6>


  

  <a class="loginlink" href="{% provider_login_url 'google' %}">
      <button class="btn-nav-login" style="color:white;"> <i class="fab fa-google fa-1x"></i>
  Sign in with Google</a>
  </button>
    <a class="loginlink" href="{% provider_login_url "facebook"  %}">
      <button class="btn-nav-login" style="color:white;"> <i class="fab fa-facebook fa-1x"></i>
  Sign in with Facebook  </a>
  </button> -->


                  <form id="editform" method=POST>
                  {% csrf_token %}
                  <label for="occupation">Occupation</label><br>
                  <input type="text" name="occupation"  placeholder="Enter Occupation" value="{{profile.occupation}}" class="myInputs" required><br><br>
                
             
                  <label for="employer">Employer</label><br>
                  <input type="text" name="employer"  placeholder="Enter Employer" value="{{profile.employer}}" class="myInputs" required><br><br>
                  
           
           
                  <label for="income">Annual Income</label><br>
                  <input type="text" name="annualincome"  placeholder="Enter Number" value="{{profile.householdincome}}" name="income"  class="myInputs" required><br><br>
           
            
                  <label for="familysize">Household Family Size</label><br>
                  <input type="text" name="familysize"  placeholder="Enter Number" value="{{profile.familysize}}" name="familysize" class="myInputs" required><br><br>
          
                    <div>
                   <label for="familysize">Are you a first time buyer?</label><br>
                   <input id="firsttime"  type="hidden" name="firstbuyer" value="{{profile.firstimebuyer}}" value="Yes">
                  <button class="button" type=button id="enrollinfoyes">Yes</Button> &nbsp; <button type=button id="enrollinfono">No</Button><br>
                   </div>
                   <div>
                  <label for="familysizet">Are you a veteran?</label><br>
                  <input id="veteran" type="hidden" name="veteran" value="{{profile.veteran}}" value="Yes">
                  <button class="button" onclick="isAVeteran()" type=button id="enrollinfo">Yes</Button> &nbsp; <button onclick="isntAVeteran()" type=button id="enrollinfot">No</Button><br>
                  </div>
              <div> </form><br>

                   </div>
             
             
                
                
              </form>
              <!-- <a style="" href="/accounts/register">  -->
                 <input style="" form="editform" type="submit" id="signin" value="Submit" class="">
                <!-- </a> -->
                <br><br>
              <h6 style="color:#465175;font-weight:normal !important";>Already have an account?  <a  style="color:#015AEB; !important;text-decoration:underline" href="{% url 'login'  %}">Sign in</h6>
    
  </section>
  
</div> 


<script type="text/javascript">


  
    function isAVeteran() {
      
        var vet =  document.getElementById('veteran');
        vet.value = "Yes" 
        }
  
        function isntAVeteran() {
        
        var vet =  document.getElementById('veteran');
        vet.value = "No" 
        }
         
  
       
  
  
    function myFunction() {
  
      var x = document.getElementById("indexbu");
      var y = document.getElementById("indexbuttont");
           
          y.classList.remove("indexbuttont");
          y.classList.add("indexbutton");
          x.classList.remove("indexbutton");
          x.classList.add("indexbuttont");
    
          
        
    
    }
  
    function myFunctiont() {
  
      var x = document.getElementById("indexbutton");
      var y = document.getElementById("indexbuttont");
           
      y.classList.add("indexbuttont");
      y.classList.remove("indexbutton");
          x.classList.add("indexbutton");
          x.classList.remove("indexbuttont");
    
          
        
    
    }
  
  document.getElementById("enrollinfoyes").addEventListener("click", function(){
    document.getElementById('firsttime').value="Yes";
    document.getElementById('enrollinfoyes').style.border=".5px solid black";
    document.getElementById('enrollinfono').style.border="2px solid #EBEEF6";
  
  });
  document.getElementById("enrollinfono").addEventListener("click", function(){
    document.getElementById('firsttime').value="No";
    document.getElementById('enrollinfono').style.border=".5px solid black";
    document.getElementById('enrollinfoyes').style.border="2px solid #EBEEF6";
  
  });
  document.getElementById("enrollinfot").addEventListener("click", function(){
    document.getElementById('enrollinfot').style.border=".5px solid black";
    document.getElementById('enrollinfo').style.border="2px solid #EBEEF6";
  
  });
  
  document.getElementById("enrollinfo").addEventListener("click", function(){
    document.getElementById('enrollinfo').style.border=".5px solid black";
    document.getElementById('enrollinfot').style.border="2px solid #EBEEF6";
  
  });
</script>
  {% endblock %}