{% extends 'basetwo.html' %}


{% block title %} | Register account {% endblock %}

{% block content %}


<br><br><br>

<div id="passwordresetbody">
<h3>Reset your password</h3>

<p>Please enter the email address your using for your <br> account  and we will send you a password reset link</p>

<form id="test" method="post">

	{% csrf_token %} 
	{{form}} 
	<br> <br>
	<input type="Submit" value="Send Link"  name="Send email">
	
</form> <br>

<span>Go back to <a style="font-size:14px;text-decoration:underline;" href="{% url 'login' %}"> Sign in</span>
<br><br><br><br><br><br><br>
</div>

<script type="text/javascript">
alert('ji');
var node = document.createElement("br"); 
document.querySelector("label[for=id_email]").innerHTML = ' Email Address'
h = document.querySelector("label[for=id_email]");
h.insertAdjacentHTML("afterend", "<br>");
target = document.querySelector("label[for=id_email]");
target.parentNode.insertBefore(node,target.nextSibling);
document.getElementById("id_email").appendChild(node);
document.getElementsByName('email')[0].placeholder='      Enter Email';
</script>
{% endblock %}


<!-- <script type="text/javascript" >
    $(document).ready(function(){
        $("#id_email").attr('placeholder', '{{form}}');
    });
</script> -->


