{% extends 'basetwo.html' %}


{% block title %} | Register account {% endblock %}

{% block content %}

<div id="passwordresetbody">
<h3>Reset your password</h3><br>

<p>Please enter your password and confirm it.</p>

<form method="post">

	{% csrf_token %}
	{{form}} <br> <br> 
	<input type="Submit" value="Reset" name="Update Password"> 
	
</form> <br>
<span>Go back to <a style="font-size:14px;text-decoration:underline;" href="{% url 'login' %}"> Sign in</span>
</div>

<script type="text/javascript">

var node = document.createElement("br"); 
document.querySelector("label[for=id_new_password1]").innerHTML = ' Enter New Password'
document.querySelector("label[for=id_new_password2]").innerHTML = ' Confirm password'
h = document.querySelector("label[for=id_new_password2]");

h.insertAdjacentHTML("afterend", "<br>");
g = document.querySelector("label[for=id_new_password1]");

g.insertAdjacentHTML("afterend", "<br>");
document.getElementsByClassName("helptext")[0].innerHTML = "<br><br>";
//target = document.querySelector("label[for=id_new_password2]");
//target.parentNode.insertBefore(node,target.nextSibling);
//document.getElementById("id_new_password2").appendChild(node);
//document.getElementsByName('email')[0].placeholder='      Enter Email';

</script>
{% endblock %}