{% extends 'basethree.html' %}


{% load socialaccount %}

{% providers_media_js %}

{% block title %} | Register account {% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }} !</p>
 
  {% else %}

<div id="loginbody"> 
<br>

<h3 id="signinheader">Create an account</h3>
<br>

<h6 style="color:#465175;">Sign up with Google or Facebook account </h6><br>
<!-- <a class="loginlink" href="{% provider_login_url 'google' %}">
      <button class="btn-nav-login" style="color:white;"> <i class="fab fa-google fa-1x"></i>
  Sign in with Google</a>
  </button> &nbsp; -->
    
  <a class="loginlink" href="{% provider_login_url 'google' %}">
      <button class="btn-nav-login" style="color:white;">
        
  <p id="googlelog"></p>   
  <p style="color:#465175;" id="googletext"> Sign in with Google </p>
</a>
</button>

<a class="loginlink" href="{% provider_login_url "facebook"  %}">
    <button class="btn-nav-login" style="color:white;"> 
      <!-- <i class="fab fa-facebook fa-1x"></i> -->
     <p id="facebooklog"></p>
   
<p style="color:#465175;" id="facebooktext"> Sign in with Facebook </p>
</a>
</button>

    <!-- <a class="loginlink" href="{% provider_login_url "facebook"  %}">
      <button class="btn-nav-login" style="color:white;"> <i class="fab fa-facebook fa-1x"></i>
  Sign in with Facebook  </a>
  </button> -->
  <br><br><br>

  <h6 style="color:#465175;font-weight:normal !important;">Or Manually create your account </h6><br>

   <!-- <div id="secondhalf">
                 <div class="form-group">
                  <label for="occupation">Occupation</label>
                  <input type="text" name="occupation" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="employer">Employer</label>
                  <input type="text" name="employer" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="income">Annual Income</label>
                  <input type="text" name="income" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="familysize">Family Size</label>
                  <input type="text" name="familysize" class="form-control" required>
                </div>
              <div>

   <button id="switchhalf" type="button">Next</button>

                     <div id="secondhalf">
                 <div class="form-group">
                  <label for="occupation">Occupation</label>
                  <input type="text" name="occupation" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="employer">Employer</label>
                  <input type="text" name="employer" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="income">Annual Income</label>
                  <input type="text" name="income" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="familysize">Family Size</label>
                  <input type="text" name="familysize" class="form-control" required>
                </div>
              <div> -->

                  <!-- <div class="form-group">
                  <label for="fullname"> Name</label>
                  <input type="text" name="fullname" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password">Confirm Password</label>
                  <input type="password" name="password2" class="form-control" required>
                </div>
                   <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" required>
                </div>
                       <div class="form-group">
                  <label for="occupation">Occupation</label>
                  <input type="text" name="occupation" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="employer">Employer</label>
                  <input type="text" name="employer" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="income">Annual Income</label>
                  <input type="text" name="income" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="familysize">Family Size</label>
                  <input type="text" name="familysize" class="form-control" required>
                </div>  -->

<!-- 
<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Create ann account</h4>
            </div>
            <div class="card-body">
          -->
            {% include 'partials/_alerts.html' %}

                <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}

                  <div class="form-group">
                  <label for="fullname"> Name</label><br>
                  <input type="text" name="fullname" class="myInputs" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label><br>
                  <input type="email" name="email" class="myInputs" required>
                </div>
                <div class="form-group">
                  <label for="password2"> Create a Password</label><br>
                  <input type="password" id="myInput" name="password" class="myInputs" required> <i onclick="myFunction()" class="far fa-eye"></i>
                </div>
                <div class="form-group">
                  <label for="password">Confirm Password</label><br>
                  <input type="password" id="myInputC" name="password2" class="myInputs" required> <i onclick="myFunctionC()" class="far fa-eye"></i>
                </div>
                   <div class="form-group">
                  <label for="username">Username</label><br>
                  <input type="text" name="username" class="myInputs" required>
                </div>
               
                 <!-- <div class="form-group">
                  <label for="occupation">Occupation</label>
                  <input type="text" name="occupation" class="form-control" required>
                </div> -->
                <!-- <div class="form-group">
                  <label for="employer">Employer</label>
                  <input type="text" name="employer" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="income">Annual Income</label>
                  <input type="text" name="income" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="familysize">Family Size</label>
                  <input type="text" name="familysize" class="form-control" required>
                </div>
              <div> -->
             
             
                
                
                <input type="submit" id="signin" value="Next" class="">
              </form>  <br>            
                  <h6 style="color:#465175;font-weight:normal !important";>Already have an account?  <a  style="color:#015AEB; !important;text-decoration:underline" href="{% url 'login'  %}">Sign in</h6>

  {% endif %}
</div> 


<script type="text/javascript">

  function myFunction() {
    // alert("hi")
     var x = document.getElementById("myInput");
     if (x.type === "password") {
       x.type = "text";
     } else {
       x.type = "password";
     }
   }

      function myFunctionC() {
      // alert("hi")
       var x = document.getElementById("myInputC");
       if (x.type === "password") {
         x.type = "text";
       } else {
         x.type = "password";
       }
     }
//alert('Hi')
 // document.getElementById('secondhalf').style.display="none"
//document.getElementById('registerbody').innerHTML = 'dffsdff';
//document.getElementById("switchhalf").addEventListener("click", function(){
 // alert('bye')
 //  document.getElementById('secondhalf').style.display="invisible "
 //  document.getElementById('firsthalf').style.display="block"
//});
</script>
  {% endblock %}