{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Welcome {% endblock %}
{% block content %}


<script>
function myFunction() {
alert("ki");
}
</script>

<section id="showcase">
        <div class="container text-center">
          <div class="home-search p-5">
            <div class="overlay p-5 searchoverlay">
              <h1 class="display-4 mb-4">
                Search Housing Assistance programs
              </h1>
              <p class="lead">Enter your in the search bar or <a style="color:white;background-color:none;" href="{% url 'listings' %}"  class=""> Allow your location</a> to see more programs near you</p>
              <div class="search">
                <form action="{% url 'search' %}">
                  <!-- Form Row 1 -->
                  
                    
                  <div class="form-row">

                        <div class="col-md-4 mb-3">
                                <label class="sr-only">City</label>
                                <input type="text" name="city" class="form-control" placeholder="City">
                              </div>
            
                    <div class="col-md-4 mb-3">
                      <label class="sr-only">State</label>
                      <select name="state" class="form-control">
                          <option selected="true" disabled="disabled">State (All)</option>
                          {% for key,value in state_choices.items %}
                          <option value="{{key}}">{{ value }}</option>
                          {% endfor %}
                        </select>
                         
                    </div>
                   
                                <div class="col-md-4 mb-3">
                                  <label class="sr-only">Zipcode</label>
                                  <input type="text" name="keywords" class="form-control" placeholder="Zipcode (.....)">
                                </div>
                  </div>
                  <!-- Form Row 2 -->
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="sr-only">Type of Program</label>
                      <select name="bedrooms" class="form-control">
                        <option selected="true" disabled="disabled">Program Type (All)</option>
                        {% for key,value in bedroom_choices.items %}
                        <option value="{{key}}">{{ value }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-6 mb-3">
                      <select name="price" class="form-control" id="type">
                        <option selected="true" disabled="disabled">Amount (Any)</option>
                        {% for key,value in price_choices.items %}
                        <option value="{{key}}">{{ value }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <button class="btn btn-secondary btn-block mt-4 submitform" type="submit">Submit form</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

            {% include 'partials/_alerts.html' %}


      <section id="listings" class="py-5">
            <div class="container">
              <h3 class="text-center mb-3">Housing Assistant programs</h3>
            <p>Enter you location in search bar or <span>Allow Your Location to see more programs near you</span></p>
              <div class="row">

                {% if listings %}
                {% for listing in listings %}
   
                 <!-- Listing 1 -->
                 <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                      <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                      <div class="card-img-overlay">
                        <h2>
                          <span class="badge badge-secondary text-white">{{ listing.amount | intcomma }}</span>
                        </h2>
                      </div>
                      <div class="card-body">
                        <div class="listing-heading text-center">
                          <h4 class="text-primary">{{ listing.programname }}</h4>
                          <p>
                            <i class="fas fa-map-marker text-secondary"></i>{{ listing.city }} {{ listing.state }} {{ listing.zipcode }}</p>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                          <div class="col-6">
                            <i class="fas fa-th-large"></i> Minimum Contribution: {{listing.minimumcontribution}}</div>
                          <div class="col-6">
                            <i class="fas fa-car"></i> Amount of Assistance: {{listing.amountofassistance | intcomma}}</div>
                        </div>
                        <div class="row py-2 text-secondary">
                          <div class="col-6">
                            <i class="fas fa-bed"></i> First time buyers: {{listing.firstbuyersonly}}</div>
                          <div class="col-6">
                            <i class="fas fa-bath"></i> Requires Inspection: {{listing.requiresinspection}}</div>
                        </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                          <div class="col-6">
                            <i class="fas fa-user"></i> {{ listing.lender }}</div>
                        </div>
                        <div class="row text-secondary pb-2">
                          <div class="col-6">
                            <!-- <i class="fas fa-clock"></i> {{ listing.list_date | timesince}} -->
                            </div>
                        </div>
                        <hr>
                        <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                      </div>
                    </div>
                  </div>

                {% endfor %}
                
                {% else %}
                <div class="col-md-12">
                  <p>No listings available</p>
                </div>
                {% endif %}
               
              </section>
          <section id="team" class="py-5">
              <div class="container">
                <h2 class="text-center">Our Mission</h2>
                <hr>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas labore minima nihil sequi, praesentium illo! Lorem ipsum dolor sit amet consectetur adipisicing</h3>
                <div class="row text-center">
                  <div class="col-md-4">
                    <img src="assets/img/realtors/kyle.jpg" alt="" class="rounded-circle mb-3">
                    <!-- <h4>Lorem ipsum</h4> -->
                    <p class="text-succes">
                      
                      </i> Lorem ipsum</p>
                    <hr>
                    <p>
                      <i class="fas fa-phon"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, velit?</p>
                    <p>
                  </div>
          
                  <div class="col-md-4">
                    <img src="assets/img/realtors/mark.jpg" alt="" class="rounded-circle mb-3">
                    <!-- <h4>Lorem ipsum</h4> -->
                    <p class="text-succes">Lorem ipsum</p>
                    <hr>
                    <p>
                      <i class="fas fa-phon"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, iste.</p>
                    <p>
                  </div>
          
                  <div class="col-md-4">
                    <img src="assets/img/realtors/jenny.jpg" alt="" class="rounded-circle mb-3">
                    <!-- <h4>Lorem ipsum</h4> -->
                    <p class="text-succes">Lorem ipsum</p>
                    <hr>
                    <p>
                      <i class="fas fa-phon"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, maiores?</p>
                    <p>
                    
                  </div>
                </div>
              </div>
            </section>
          <section id="services"  class="py-5 bg-primary text-white servicesinfo">
            <div class="container">
              <div class="row text-center">
                <div class="col-md-4">
                  <i class="fas fa-home fa-4x mr-4"></i>
                  <hr>
                  <h3>Why Lambada </h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
                    hic dignissimos ratione ea quae.</p>
                </div>
                <div class="col-md-4">
                  <i class="fas fa-home fa-4x mr-4"></i>
                  <hr>
                  <h3>Why Lambada </h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
                    hic dignissimos ratione ea quae.</p>
                </div>
                <div class="col-md-4">
                  <i class="fas fa-home fa-4x mr-4"></i>
                  <hr>
                  <h3>Why Lambada</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
                    hic dignissimos ratione ea quae.</p>
                </div>
              </div>
            </div>
         
          </section>

          <section id="team" class="py-5">
              <div class="container">
                <h2 class="text-center">Feedback/Review</h2>
                <hr>
                <div class="row text-center">
                  <div class="col-md-4">
                    <img src="assets/img/realtors/kyle.jpg" alt="" class="rounded-circle mb-3">
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, voluptate?</h5>
                    <p class="text-succes">
                      
                   
                    
                    <p>
                    
                    <p>
                     
                  </div>
          
                  <div class="col-md-4">
                    <img src="assets/img/realtors/mark.jpg" alt="" class="rounded-circle mb-3">
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, voluptate?</h5>
                    <p class="text-succes"></p>
               
                    <p>
                      <i class="fas fa-phon"></i></p>
                    <p>
                      
                  </div>
          
                  <div class="col-md-4">
                    <img src="assets/img/realtors/jenny.jpg" alt="" class="rounded-circle mb-3">
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, voluptate?</h5>
                    <p class="text-succes"> </p>
                 
                    <p>
                      <i class="fas fa-phon"></i> </p>
                    <p>
                  </div>
                </div>
              </div>
                     
          </section> 
{% endblock %}



