{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | Welcome {% endblock %}
{% block content %}


<div id ="searchboarder"></div>
<br><br><br>
<section id="indexhead">
        <div class="text-center">
          <div class="">
            <div class="overlay p-5 searchoverlay">
              <h1 class="">
                Housing Assistance programs
              </h1>
              <p class="lead">Enter your location in the search bar or <a style="color:white;background-color:none;text-decoration:underline;" href="{% url 'listings' %}"  class=""> <strong>Allow your location</strong></a> to see more programs near you</p><br>
              <div class="search">
                <form action="{% url 'search' %}">
           
                         <div class="row">

                {% if listings %}
                {% for listing in listings %}
        
                 
                   <div id="indexbody" class="col-md-6 col-lg-4 mb-4"> 
                    <div class="card listing-preview">
                      <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                      <div class="card-img-overlay rounded">
                        <h2>
                        </h2>
                      </div>
                    <a  href="{% url 'listing' listing.id %}" class="stretched-link"> 
                     <div  class="card-body">
                     {% if user.is_authenticated %}
                       <!-- <i   class="far fa-lg fa-bookmark "></i> -->
  <div class="svgcontainer">
                       <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="18" height="26"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#015aeb"><path id="bookmarked" d="M43,14.33333c-0.9899,0 -1.95019,0.10309 -2.88346,0.29395c-6.53293,1.33598 -11.44987,7.11012 -11.44987,14.03939v129l57.33333,-21.5l57.33333,21.5v-129c0,-0.98542 -0.10218,-1.95264 -0.29395,-2.88346c-1.14513,-5.59966 -5.55627,-10.0108 -11.15592,-11.15592c-0.93328,-0.19085 -1.89357,-0.29395 -2.88347,-0.29395z"></path></g></g>

</svg>
</div>                      </a>

                      



                         {% else %}

                         <div class="svgcontainer">
                            <svg data-toggle="tooltip" data-placement="top" title="Login or Sign up to Save" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
     width="18" height="27"
     viewBox="0 0 172 172"
     style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#015aeb"><path id="bookmarked" d="M43,14.33333c-0.9899,0 -1.95019,0.10309 -2.88346,0.29395c-6.53293,1.33598 -11.44987,7.11012 -11.44987,14.03939v129l57.33333,-21.5l57.33333,21.5v-129c0,-0.98542 -0.10218,-1.95264 -0.29395,-2.88346c-1.14513,-5.59966 -5.55627,-10.0108 -11.15592,-11.15592c-0.93328,-0.19085 -1.89357,-0.29395 -2.88347,-0.29395z"></path></g></g>
     
     </svg>
     </div>          </a>           
                    <!-- <i data-toggle="tooltip" data-placement="top" title="𝙻̲𝚘̲𝚐̲𝚒̲𝚗̲ or 𝚂̲𝚒̲𝚐̲𝚗̲ 𝚄̲𝚙̲ to save" class="far fa-lg fa-bookmark"></i> -->
                         {% endif %}
                        <div class=" text-left"> 
                        
                          <h5 class=""> &nbsp;&nbsp;&nbsp;   {{ listing.programname |truncatewords:4 |truncatechars:34 }}</h4>
                          <p>
                        </div>
                        <div class="row py-0 text-secondary">
                          <div class="col-12 text-left">
                                   <h6>  &nbsp;&nbsp;&nbsp; Type of program</h6>
                             <p>  &nbsp;&nbsp;&nbsp; {{listing.programoriginator}}</p> </div>
                          <div class="col-6">
                             <h6 class="text-left"> &nbsp;&nbsp;&nbsp; Amount</h6>
                             <p class="text-left">  &nbsp;&nbsp;&nbsp; {{listing.amountofassistance | intcomma}}</p></div>
                        </div>
                        <div class="row py-2 text-secondary">
                          <div class="col-6">
                             <h6 style="" class="text-left">  &nbsp;&nbsp; Mortgage Lenders</h6>
                            <p class="text-left" >  &nbsp;&nbsp;&nbsp; {{listing.programcontact}} </p></div>                       
                        </div>
                      
                        <div class="row text-secondary pb-2">
                          <div class="col-6">
                            </div>
                        </div>
                        <!-- </a> -->
                      </div>
                    </div>
                  </div> 
                       
                  {% endfor %}
                
                {% else %}
                <div class="col-md-12">
                  <p>No Programs Available</p>
                </div>
                {% endif %}










      </section> 
<!-- 
            {% include 'partials/_alerts.html' %}


      <section id="listings" class="py-5">
            <div class="container"> -->
              <!-- <h3 class="text-center mb-3">Housing Assistant programs</h3> -->
            <!-- <p>Enter you location in search bar or <span>Allow Your Location to see more programs near you</span></p> -->
              <!-- <div class="row">

                {% if listings %}
                {% for listing in listings %} 
<-- 
                 Listing 1 -->
                 <!-- <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                      <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                      <div class="card-img-overlay">
                        <h2>
                          <span class="badge badge-secondary text-white">{{ listing.amount | intcomma }}</span>
                        </h2>
                      </div>
                      <div class="card-body">
                        <div class="listing-heading text-center">
                          <h4 class="text-primary">{{ listing.programname |truncatechars:30  }}</h4>
                          <p> -->
                            <!-- <i class="fas fa-map-marker text-secondary"></i>{{ listing.city }} {{ listing.state }} {{ listing.zipcode }}</p> -->
                        <!-- </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                          <div class="col-6">
                            <i class="fas fa-th-large"></i> Minimum Contribution: {{listing.minimumcontribution}}</div>
                          <div class="col-6">
                            <i class="fas fa-car"></i> Amount: {{listing.amountofassistance | intcomma}}</div>
                        </div>
                        <div class="row py-2 text-secondary">
                          <div class="col-6">
                            <i class="fas fa-bed"></i> First time buyers: {{listing.firstbuyersonly}}</div>
                          <div class="col-6">
                            <i class="fas fa-bath"></i> Requires Inspection: {{listing.requiresinspection}}</div>
                        </div>
                        <hr> -->
                        <!-- <div class="row py-2 text-secondary">
                          <div class="col-6"> -->
                            <!-- <i class="fas fa-user"></i> {{ listing.programoriginator }}-->
                            <!-- </div> 
                        </div>
                        <div class="row text-secondary pb-2">
                          <div class="col-6"> -->
                            <!-- <i class="fas fa-clock"></i> {{ listing.list_date | timesince}} -->
                            <!-- </div>
                        </div>
                        <hr>
                        <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                      </div>
                    </div>
                  </div>

                {% endfor %}
                
                {% else %}
                <div class="col-md-12">
                  <p>No Programs Available</p>
                </div>
                {% endif %}
               
              </section> -->
          <section id="team indexbody" class="py-5">
              <div class="container">
                <h2 class="text-center missionheader">Our Mission</h2>
                <!-- <hr> -->
                <h3 class="missionsubheader">Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do <br>
                euismod tempor incididunt ut labore et dolore magna aliqua.</h3>
                <div class="row text-center">
                  <div class="col-md-4 text-center">
                    <img src="" alt="" class="rounded-circle mb-3">
                    <!-- <h4>Lorem ipsum</h4> -->
                    <p id="missionpoint" class="text-succes missonpoint">
                      
                      </i> Lorem ipsum</p>
                 
                    <p id ="missiontext">
                      Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, &nbsp;<br> sed do eiusmod tempor.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p>
                  </div>
          
                  <div class="col-md-4">
                    <img src="" alt="" class="rounded-circle mb-3">
                    <!-- <h4>Lorem ipsum</h4> -->
                    <p id="missionpoint" class="text-succes">Lorem ipsum</p>

                    <p id ="missiontext">
                       Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, &nbsp;<br> sed do eiusmod tempor.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p>
                  </div>
          
                  <div class="col-md-4">
                    <img src="" alt="" class="rounded-circle mb-3">
                    <!-- <h4>Lorem ipsum</h4> -->
                    <p id="missionpoint" class="text-succes misionpoint">Lorem ipsum</p>
                
                    <p id ="missiontext">
                        Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, &nbsp;<br> sed do eiusmod tempor.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p>
                    
                  </div>
                </div>
              </div>
            </section>
          <section id="services"  class="py-5 bg-primary text-white servicesinfo">
            <div class="container">
              <div class="row text-center">
                 <div id="calltoaction">
                   <h2 class="text-center whylambadaheader">Why Lambada?</h2>
                     <p id="whyhelp" class="text-succes">This is how we can help</p>
                         <p id ="whyhelptext">
                        Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, &nbsp;<br> sed do eiusmod tempor.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p>
                 </div>
                <div class="col-md-4">
                  <i class=""></i>
                  <div id="rectangle">   <img id="recimage" src="{% static 'css/houseicon.svg' %}" alt="" class="">
                      <p id="whypoint" class="text-succes">Lorem ipsum</p>
                       <p id ="whytext">
                        Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, &nbsp;<br> sed do eiusmod tempor.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p>
                   <span id="learnmore">Learn More <small> <i class="fas fa-chevron-right"></i> </small></span>
                     </div>    
                </div>
                <div class="col-md-4">
                  <i class=""></i>
                  <div id="rectangle">   <img id="recimage" src="{% static 'css/houseicon.svg' %}" alt="" class="">
                      <p id="whypoint" class="text-succes">Lorem ipsum</p>
                       <p id ="whytext">
                        Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, &nbsp;<br> sed do eiusmod tempor.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p>
                   <span id="learnmore">Learn More <small> <i class="fas fa-chevron-right"></i> </small></span>
                     </div>               
                </div>
                <div class="col-md-4">
                  <i class=""></i>
                     <div id="rectangle">   <img id="recimage" src="{% static 'css/houseicon.svg' %}" alt="" class="">
                      <p id="whypoint" class="text-succes">Lorem ipsum</p>
                       <p id ="whytext">
                        Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, &nbsp;<br> sed do eiusmod tempor.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p>
                    <span id="learnmore">Learn More <small> <i class="fas fa-chevron-right"></i> </small></span>
                     </div>
                </div>
              </div>
            </div>
         
          </section>

          <section id="team" class="py-5">
              <div class="container">
                <h2 class="text-center feedbackheader">Feedback / Review</h2>
             
                <div class="row text-center">
                  <div class="col-md-4">
                    <img src="" alt="" class="rounded-circle mb-3">
                    <h5 id="feedbacktext"> “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. “</h5>
                    <p class="text-succes">
                      
                   
                    
                    <p>
                    
                    <p>
                     
                  </div>
          
                  <div class="col-md-4">
                    <img src="" alt="" class="rounded-circle mb-3">
                    <h5 id="feedbacktext"> “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. “</h5>
                    <p class="text-succes"></p>
               
                    <p>
                      <i class="fas fa-phon"></i></p>
                    <p>
                      
                  </div>
          
                  <div class="col-md-4">
                    <img src="" alt="" class="rounded-circle mb-3">
                    <h5 id="feedbacktext"> “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. “</h5>
                    <p class="text-succes"> </p>
                 
                    <p>
                      <i class="fas fa-phon"></i> </p>
                    <p>
                  </div>
                </div>
              </div>
                     
          </section> 

          <script>

           
          
          $(function () {
  $('[data-toggle="tooltip"]').tooltip({title: "<h1><strong>HTML</strong> inside <code>the</code> <em>tooltip</em></h1>", html: true, placement: "top"})
})
          </script>
{% endblock %}



