





.btn-nav {
    background-color:blue;
    border: 1px solid #EBEEF6; 
    color: white;
    border-radius: 18.6961px;
}
.btn-nav-login {
    background-color:white;
    font-family: Poppins;
    color: #465175;
    font-size: 14px;
    line-height: 21px;
    border-radius: 18.6961px;
    border: 2px solid #EBEEF6;
}

.submitform {
    background-color:#fff !important;
    border: 1px solid rgb(230, 231, 233);
    border-radius: 18px;
    color: rgb(0, 0, 0) !important;
}

.submitform:hover {
    background-color:#fff;
    border: 1px solid #fff;
    border-radius: 18px;
    color: #000 !important;
}
.searchoverlay {
    background-color: #015AEB !important;
    color: white;
}

.servicesinfo {
    background-color: #015AEB !important;
}
/* #EBEEF6 */


#services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background-color: #015AEB !important; 
}


.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    color: #015aeb;
}


.badge-secondary {
    color: #212529;
    background-color: #30caa0;
    visibility: hidden;
}



.text-secondary {
    color: #000 !important;
}


.btn-primary {
    color: #fff;
    background-color:#015AEB;
    border-color:#015AEB;
}

.btn-primary:active {
    color: #fff;
    background-color:#015AEB;
    border-color:#015AEB;
}


.btn-secondary {
    color: #fff;
    background-color:#015AEB;
    border-color:#015AEB;
}


#showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: #015aeb;
}

.allowyourlocation {
  
    text-decoration: underline;
}

.fa-google {
  background: 
    linear-gradient(to bottom left,transparent 49%,#fbbc05 50%) 0 25%/48% 40%,
    linear-gradient(to top    left,transparent 49%,#fbbc05 50%) 0 75%/48% 40%,
  
    linear-gradient(-40deg ,transparent 53%,#ea4335 54%),
    linear-gradient( 45deg ,transparent 46%,#4285f4 48%),
    #34a853;
  background-repeat:no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.fa-facebook {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: red;
  -webkit-text-fill-color: blue;
  border-radius: 199px;
}

#footer {
   position: relative;
   height:8rem;
   top: 1.5rem;
   
   border-top: 2px solid #EBEEF6;

}

#footertext {
   position: relative;
   left: 11.2rem;
   top: 3rem;

}

#loginbody {
    margin-left: 11.2rem;
}

#loginbody h3 {
color: #465175 !important;
font-family: sans-serif;
font-weight: 600 !important;
font-size: 24px;
line-height:36px;
}

#loginbody h6 {
color: #465175 !important;
font-family: sans-serif;
font-weight: 600 !important;
font-size: 14px;
line-height:21px;
}

#loginbody a {
color: #465175;  
opacity: 0.6;
font-size: 16px;
line-height: 21px;
text-decoration: none;
}


#loginbody button {
width: 261px;
height: 50px;
font-size: 14px;
line-height: 21px;
border: 2px solid #EBEEF6;
box-sizing: border-box;
border-radius: 25px;
}

#loginbody label {
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #465175;

}

#loginbody input {
font-family: sans-serif;
width: 419.46px;
height: 50px;
border: 2px solid #EBEEF6;
box-sizing: border-box;
border-radius: 25px;

}

#loginbody input::placeholder {
font-family: sans-serif;
color: #465175;
opacity: 0.6;
}

#loginbody span {
margin-left: 308px;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #465175;

}

#signin {
    background-color: #015AEB;
    color: red;
    width: 101.93px;
    height: 37.39px;
    font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
border: none;
}

#loginbody #signin,#next{
 background-color: #015AEB;
 color: white;
 width: 101.93px;
 height: 37.39px;
font-family: Inter,sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
border: none;

}

#passwordresetbody {
    margin-left: 11.2rem;
}
#passwordresetbody h3 {
    width: 571.11px;
height: 30.53px;
left: 100px;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #465175;
}

#passwordresetbody p {
width: 381.1px;
height: 50px;
color: #465175;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
}

#passwordresetbody input {

width: 419.46px;
height: 50px;
border: 2px solid #EBEEF6;
box-sizing: border-box;
border-radius: 25px;
}

#passwordresetbody input[name="Send email"] {

width: 141px;
height: 37px;
background: #015AEB;
border-radius: 18.6961px;
color: white;
border:none;
}

#passwordresetbody input[name="Update Password"] {

width: 141px;
height: 37px;
background: #015AEB;
border-radius: 18.6961px;
color: white;
border:none;
}

#passwordresetbody span {

width: 282px;
height: 26px;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

/* text-blue */

color: #465175;
}


#passwordresetbody label[for=id_email] {

width: 345.34px;
height: 25.75px;

font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;



color: #465175;
}

#passwordresetbody label[for=id_new_password1] {

width: 345.34px;
height: 25.75px;

font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;



color: #465175;
}

#passwordresetbody label[for=id_new_password2] {

width: 345.34px;
height: 25.75px;

font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;



color: #465175;
}



#passwordresetbody input::placeholder {

color: #465175;
opacity: 0.6;
font-size: 14px;
}

#firsthalf {
    display: none;
}

#loginbody #enrollinfo {
    width: 97px;
height: 50px;
}

#loginbody #enrollinfot {
width: 97px;
height: 50px;
}

/* #loginbody #enrollinfo:hover {
    width: 97px;
height: 50px;
border: 1px solid black;
} */



#loginbody #next{
 background-color:  #015AEB;
 color: white;
 width: 101.93px;
 height: 37.39px;
font-family: Inter,sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
border: none;

}



.button-active {
    border: 881px solid green;
}

