

.sigininheader {
color: #465175;
font-family:poppins;
font-weight: 600;
font-size: 4px;
line-height:36px;
}

.btn-nav {
    background-color:blue;
    border: 1px solid #EBEEF6; 
    color: white;
    border-radius: 18.6961px;
}
.btn-nav-login {
    background-color:white;
    font-family: Poppins;
    color: #465175;
    font-size: 14px;
    line-height: 21px;
    border-radius: 18.6961px;
    border: 2px solid #EBEEF6;
}

.submitform {
    background-color:#fff !important;
    border: 1px solid rgb(230, 231, 233);
    border-radius: 18px;
    color: rgb(0, 0, 0) !important;
}

.submitform:hover {
    background-color:#fff;
    border: 1px solid #fff;
    border-radius: 18px;
    color: #000 !important;
}
.searchoverlay {
    background-color: #015AEB !important;
    color: white;
}

.servicesinfo {
    background-color: #015AEB !important;
}
/* #EBEEF6 */


#services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background-color: #015AEB !important; 
}


.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    color: #015aeb;
}


.badge-secondary {
    color: #212529;
    background-color: #30caa0;
    visibility: hidden;
}



.text-secondary {
    color: #000 !important;
}


.btn-primary {
    color: #fff;
    background-color:#015AEB;
    border-color:#015AEB;
}

.btn-primary:active {
    color: #fff;
    background-color:#015AEB;
    border-color:#015AEB;
}


.btn-secondary {
    color: #fff;
    background-color:#015AEB;
    border-color:#015AEB;
}


#showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: #015aeb;
}

.allowyourlocation {
  
    text-decoration: underline;
}

.fa-google {
  background: 
    linear-gradient(to bottom left,transparent 49%,#fbbc05 50%) 0 25%/48% 40%,
    linear-gradient(to top    left,transparent 49%,#fbbc05 50%) 0 75%/48% 40%,
  
    linear-gradient(-40deg ,transparent 53%,#ea4335 54%),
    linear-gradient( 45deg ,transparent 46%,#4285f4 48%),
    #34a853;
  background-repeat:no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.fa-facebook {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: red;
  -webkit-text-fill-color: blue;
  border-radius: 199px;
}